.pokemon-card {
  border: 2px solid #555;
  border-radius: 5px;
  overflow: hidden;
  max-width: 110px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.pokemon-card-name {
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.pokemon-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 50px;
  width: 100%;
  object-fit: cover;
}

.pokemon-card-type {
  padding: 10px;
  border-top: 1px solid #ddd;
  height: 35px;
  font-size: 15px;
}
